@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Kalam:wght@300;400;700&display=swap');

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));

    /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer base {
    html {
        @apply scroll-smooth;
    }
}

.truncate-cell {
    @apply truncate max-w-xs;
}

.text-lobster {
    font-family: 'Lobster', 'Comic Sans MS', sans-serif;
}

/* .text-kalam {
    font-family: 'Kalam', 'Lobster';
} */

.NavBar {
    font-size: 12px;
    margin-left: 46px;
}

.NavBar::before {
    content: '';
    width: 30px;
    height: 2px;
    display: block;
    font-size: 8px;
    font-weight: 200;
    background: #cbd5e0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-right: 10px;
}

.activeNav {
    color: white;
    font-size: 16px !important;
    margin-left: 86px;
}

.activeNav::before {
    /* content: '';
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute; */

    content: '';
    width: 70px;
    height: 2px;
    display: block;
    font-size: 8px;
    font-weight: 200;
    background: white;
    position: absolute;
    left: 0;
    top: 50%;
    margin-right: 10px;
    /* padding: 10px; */
}

/* a.activeNav::after {
    content: '\f054';
    font-size: 8px;
    font-weight: 200;
    padding: 10px;
} */

.NavBar:hover {
    color: white;
}

.linkParse {
    color: #4fd1c5;
    font-weight: 500;
}

.linkParse:hover {
    color: #22d3ee;
}

.overflow-auto::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
}

.overflow-auto::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Set the color to match your modal background color */
    border-radius: 0 1rem 1rem 0;
}

.overflow-auto::-webkit-scrollbar-track {
    background-color: #cbd5e0; /* Set the color to match your modal background color */
    border-radius: 0 1rem 1rem 0;
}

.mobile-order-1 {
    order: 1;
    margin-top: 0px;
    margin-bottom: 12px;
}
.mobile-order-2 {
    order: 2;
}
.mobile-order-3 {
    order: 3;
}

@media (min-width: 500px) {
    .mobile-order-1 {
        order: 2;
    }
    .mobile-order-2 {
        order: 1;
    }
    .mobile-order-3 {
        order: 3;
    }
}
